<%- include('includes/head') %>

<title>Agenda - Home</title>
</head>
<body>

<%- include('includes/nav') %>

  <article class="container">
    <section class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">
        Seus contatos estão abaixo
        </p>

        <%- include('includes/messages') %>

        <% if(contatos.length > 0) { %>
        <div class="reponsive-table">
          <table class="table my-3">
            <% contatos.forEach(contato => { %>
              <tr>
                <td><%= contato.name %></td>
                <td><%= contato.lastname %></td>
                <td><%= contato.phone %></td>
                <td><%= contato.email %></td>
                <td><a class="btn btn-primary" href="/contato/<%= contato._id %>">Editar</a></td>
                <td><a class="btn btn-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
              </tr>
            <% }) %>
          </table>
        </div>
        <% } else { %>
          <div class="my-3 text-center">
            <p>A agenda está vazia :(</p>
            <a class="btn btn-primary" href="/contato/">Criar um novo contato</a>
          </div>
          <% } %>

      </div>

      <div class="col-lg-2"></div>
    </section>
  </article>

<%- include('includes/footer') %>